@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family:"ubuntu", "sans-serif";
}

body html {
    position: relative;
}


body {
    /*background: linear-gradient(180deg, #594cee 0%, #8dd0f5 100% );*/
    background-image: url("../img/pexels-quintin-gellar-313782.jpg");
    background-position:center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 95vh;
    
}
.hide {
    display: none;
}

.container {
    background-color:#87564f;
    box-shadow: rgba(0, 0, 0, .24) 0px 3px 8px;
    padding: 2rem;
    color: #fdfdfd;
    border-radius: 1rem;
}

/* Formulario*/

.form h3 {
    margin-bottom: 1rem;
}

.form-input-container {
    display: flex;

}
.form input {
    padding: .8rem;
    border: none;
    flex: 1;
    border-radius: 4px;

}

.form button {
    padding: .8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #8dd0f5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Clima */

#weather-data {
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}
#weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .6rem;

}

#weather-data h2 i {
    font-size: 1rem;
}

#weather-data span {
    margin: 0.6rem;
}

#country {
    height: 15px;
}

#description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .6rem 0;
}

#description {
    font-weight: bold;
    text-transform: capitalize;
}

#details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#details-container #humidity {
    border-right: 1px solid #fff;
    margin: .6rem;
    padding: .6rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #87564f;
    position:fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    z-index: 10000;
}
footer .footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    font-family: 'Courgette', cursive;
    margin-left: 2px;
}
footer img {
    margin-right: 3px;
    margin-left: 5px
}